body {
	padding-top: 60px;
	padding-bottom: 40px;
	font-family: 'Roboto', sans-serif;
}

.navbar-inverse .navbar-inner{
	background-color:#555;
	background-image:-moz-linear-gradient(top,#666,#555);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#666),to(#555));
	background-image:-webkit-linear-gradient(top,#666,#555);
	background-image:-o-linear-gradient(top,#666,#555);
	background-image:linear-gradient(to bottom,#666,#555);
	background-repeat:repeat-x;
	border-color:#666;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff666666',endColorstr='#ff555555',GradientType=0)
}

table {
	background-color:#f9f9f9;
	font-size:0.85em;
}

.showfile {
	background-color:#f8f8f8;
	margin-bottom:20px;
}

.showfile .navbar {
	margin-bottom:0px;
}

.showfile .navbar-inner {
	line-height:15px;
	min-height:20px;
}

.showfile .navbar-text {
	margin-top:4px;
	margin-bottom:4px;
	line-height:25px;
	min-height:25px;
}

.showfile .showfileheader {
	border-left: 1px solid #ccc;
	box-shadow: inset 1px 0 0 #fff;
	padding-left:15px;
	margin-left:15px;
}

.showfile pre {
	background-color:transparent;
}

.filecontent {
	border: 2px solid #eee;
	border-top-width:0px;
}

.code {
	font-family: 'Droid Sans Mono', sans-serif;
}