## -*- coding: utf-8 -*-
<%!
	import web
%>
<%page args="groups"/>
<%inherit file="main.html"/>
<%namespace name="common" file="common.html"/>

<h2>All public groups</h2>
<div class="row">
	% for g in groups:
		<%common:icon_info_block>
			<%def name="blockicon()">fa-group</%def>
			<%def name="blockhead()"><a href="/${g.id}">${g.name}</a></%def>
			<%def name="blockbody()">${common.plural_format(g.num_users, "member")}, ${common.plural_format(g.num_repos, "repository")}</%def>
		</%common:icon_info_block>
	% endfor
	% if groups == []:
		<div class="row-fluid"><p>No public groups</p></div>
	% endif
</div>