<%!
	import web
%>
<%page args="repos"/>
<%inherit file="main.html"/>

<div>
<h2>All public repositories</h2>
<table class="table table-bordered table-condensed">
<thead>
	<tr>
		<th>Repository name</th>
		<th>Owner</th>
		<th></th>
	</tr>
</thead>
<tbody>
% for f in repos:
	<tr>
		<td>${f.name}</td>
		<td>${f.owner}</td>
		<td><a href="/${f.owner}/${f.id}">go to repository</a></td>
	</tr>
	% if f.description != '':
		<tr><td colspan="5">${f.description}</td></tr>
	% endif
% endfor
</tbody>
</table>

</div>