<%!
	import web
%>
<%page args="repos"/>
<%inherit file="main.html"/>
<%namespace name="common" file="common.html"/>

<h2>All public repositories</h2>
<div class="row">
	% for r in repos:
		<%common:icon_info_block>
			<%def name="blockicon()">fa-book</%def>
			<%def name="blockhead()"><a href="/${r.owner}/${r.id}">${r.owner} / ${r.name}</a></%def>
			<%def name="blockbody()">${r.description}&nbsp;</%def>
		</%common:icon_info_block>
	% endfor
	% if repos == []:
		<div class="row-fluid"><p>No public repositories</p></div>
	% endif
</div>
