<%!
	import web
%>
<%page args="repos"/>
<%inherit file="main.html"/>

<h2>All public repositories</h2>
<div class="container-fluid">
	% for r in repos:
	<div class="row-fluid">
		<div class="span1 offset1"><i class="fa fa-book fa-4x"></i></div>
		<div class="span10">
			<h2 style="margin:0px;"><a href="/${r.owner}/${r.id}">${r.owner} / ${r.name}</a></h2>
			<p>${r.description}&nbsp;</p>
		</div>
	</div>
	% endfor
	% if repos == []:
		<div class="row-fluid"><p>No public repositories</p></div>
	% endif
</div>
