$def with(form)

$var for_head:
	<script src="/static/removeDiacritics.js"></script>
	<script src="/static/commoncode.js"></script>
	<script>
	$$(document).ready(function(){
		function checkRepo() {
			$$.get('/checkRepo?id=' + $$("#inputId").val(), function(data) {
				if(data == "true") {
					$$(".control-group:has(#inputId)").removeClass("error");
					$$('#inputIdError').hide();
					return true;
				} else {
					$$(".control-group:has(#inputId)").addClass("error");
					$$('#inputIdError').show();
					return false;
				}
			});
		}
		
		$$('#inputNameError').hide();
		
		var id_popover = $$("#inputName").popover({
			trigger: "manual",
			placement: "right",
			content: ""
		});

		function updateId() {
			idStr = makeIdString($$("#inputName").val());
			$$("#inputId").val(idStr);
			
			if(idStr == $$("#inputName").val()) {
				$$("#inputName").popover('hide');
			} else {
				id_popover.data("popover").options.content = "Will be created as: " + idStr;
				$$("#inputName").popover('show');
			}
			
			$$.get('/checkRepo?id=' + $$("#inputOwner").val() + '&repo=' + idStr, function(data) {
				if(data == "true") {
					$$(".control-group:has(#inputId)").removeClass("error");
					$$('#inputNameError').hide();
				} else {
					$$(".control-group:has(#inputId)").addClass("error");
					$$('#inputNameError').show();
				}
			});
		}
		
		$$("#inputName").keyup(function(event) {
			updateId();
		});
		
		$$("#inputName").blur(function(event) {
			updateId();
		});
			
		$$("#formSubmit").click(function(){
			$$.get('/checkRepo?id=' + $$("#inputId").val() + '&repo=' + "oops", function(data) {
				if(data == "true") {
					$$("#createRepoForm").submit()
				} else {
					$$("this").effect("shake", 500);
					return false;
				}
			});
			return false;
		});
	});
	</script>

<h2>Create new repository</h2>
<form method="POST" class="form-horizontal" id="createRepoForm">
	<div class="control-group">
		<label class="control-label" for="inputOwner">Owner</label>
		<div class="controls">
			<select id="inputOwner" name="owner" class="input-xlarge">
			$for available_owner in form.owner.args:
				<option value="$available_owner">$available_owner</option>
			</select>
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label" for="inputName">Name</label>
		<div class="controls">
			<input type="text" id="inputName" name="name" class="input-xlarge" placeholder="Repository Name">
			<input type="hidden" id="inputId" name="id" >
		</div>
	</div>
	
	<div id="inputNameError" class="alert alert-error">
		Unfortunately, this repository already exists
	</div>	
		
		
	<div class="control-group">
		<label class="control-label" for="inputName">Description (optional)</label>
		<div class="controls">
			<textarea name="desc" class="input-xlarge" rows="4"></textarea>
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label" for="inputName">Access</label>
		<div class="controls">
			<label class="radio">Public:
			<input type="radio" name="access" value="Public" checked> Anyone can see this repository. You choose who can commit.
			</label>
			<label class="radio">Private:  
			<input type="radio" name="access" value="Private"> You choose who can see and commit to this repository.
			</label>
		</div>
	</div>
	
	$if form.note:
		<div class="alert alert-info">
			$form.note
		</div>
	
	<button class="btn btn-large btn-primary offset5" id="formSubmit" type="submit">Create Repository</button>

</form>