## -*- coding: utf-8 -*-
<%!
	import web
%>
<%page args="form"/>
<%inherit file="main.html"/>

<%block name="head">
	<script src="/static/removeDiacritics.js"></script>
	<script>
	$(document).ready(function(){
		$('#inputNameError').hide();
		
		var id_popover = $("#inputName").popover({
			trigger: "manual",
			placement: "right",
			container: "body",
			content: ""
		});

		function updateId() {
			idStr = makeIdString($("#inputName").val());
			$("#inputId").val(idStr);
			
			if(idStr == $("#inputName").val()) {
				$("#inputName").popover('hide');
			} else {
				id_popover.data("bs.popover").options.content = "Will be created as: " + idStr;
				$("#inputName").popover('show');
			}
			
			$.get('/checkId?id=' + $("#inputId").val(), function(data) {
				if(data == "true") {
					$(".control-group:has(#inputId)").removeClass("error");
					$('#inputNameError').hide();
				} else {
					$(".control-group:has(#inputId)").addClass("error");
					$('#inputNameError').show();
				}
			});
		}
		
		$("#inputName").keyup(function(event) {
			updateId();
		});
		
		$("#inputName").blur(function(event) {
			updateId();
		});
			
		$("#formSubmit").click(function(){
			$.get('/checkId?id=' + $("#inputId").val(), function(data) {
				if(data == "true") {
					$("#createGroupForm").submit()
				} else {
					$("this").effect("shake", 500);
					return false;
				}
			});
			return false;
		});
	});
	</script>
</%block>

<h2>Create new group</h2>

<form method="POST" class="form-horizontal" id="createGroupForm">
	<div class="form-group form-group-lg">
		<label class="col-md-2 control-label" for="inputName">Group name</label>
		<div class="col-md-6">
			<input type="text" id="inputName" name="name" class="form-control" placeholder="Group name">
			<input type="hidden" id="inputId" name="id" >
		</div>
	</div>
	
	<div id="inputNameError" class="alert alert-danger">
		Unfortunately, this identifier is already in use
	</div>	
	
	<div class="form-group">
		<label class="col-md-2 control-label" for="inputDesc">Description (optional)</label>
		<div class="col-md-6">
			<textarea name="desc" id="inputDesc" class="form-control" rows="6"></textarea>
		</div>
	</div>
	
	<div class="form-group form-group-lg">
		<label class="col-md-2 control-label" for="inputName">Joinable</label>
		<div class="radio col-md-6">
			<label>
				<input type="radio" name="joinable" value="yes" checked> Anybody can join this group.
			</label>
		</div>
		<div class="radio col-md-6">
			<label>
				<input type="radio" name="joinable" value="no"> Only group admins can add members.
			</label>
		</div>
	</div>
	
	% if form.note:
		<div class="alert alert-info">
			${form.note}
		</div>
	% endif
	
	<button class="btn btn-large btn-primary pull-right" id="formSubmit" type="submit">Create group</button>
	<div class="clearfix"></div>
</form>

