<%!
	import web
%>
<%page args="group, repos, members"/>
<%inherit file="ownerBase.html"/>
<%namespace name="common" file="common.html"/>

<%block name="icon">fa-group</%block>
<%block name="owner">${group.name}</%block>
<%block name="tagline">${group.description}</%block>

<h2>Repositories</h2>
<div class="container-fluid">
	% for r in repos:
	<div class="row-fluid">
		<div class="span1 offset1"><i class="fa fa-book fa-4x"></i></div>
		<div class="span10">
			<h2 style="margin:0px;"><a href="/${r.owner}/${r.id}">${r.owner} / ${r.name}</a></h2>
			<p>Last updated ${common.how_long_ago(r.lastUpdate)}</p>
		</div>
	</div>
	% endfor
	% if repos == []:
		<div class="row-fluid"><p>No repositories</p></div>
	% endif
</div>

<h2>Members</h2>
<div class="container-fluid">
	% for m in members:
	<div class="row-fluid">
		<div class="span1 offset1"><i class="fa fa-user fa-4x"></i></div>
		<div class="span10">
			<h2 style="margin:0px;"><a href="/${m.id}">${m.name}</a></h2>
			<p>${m.role}<p>
		</div>
	</div>
	% endfor
	% if members == []:
		<div class="row-fluid"><p>No members</p></div>
	% endif
</div>