$def with(owner, repoid, repoInfo, collaborators, users)

$var for_head:
	<script>
	$$(document).ready(function(){
		$$(".userRemove").click(function() {
			var tempForm = $$('<form method="POST"/>');
			tempForm.append($$('<input type="hidden" name="type" value="remove"/>'));
			tempForm.append($$('<input type="text" name="userid" value="' + $$(this).data('userid') + '"/>'));
			tempForm.submit();
		});
		
		$$(".userRead").click(function() {
			var tempForm = $$('<form method="POST"/>');
			tempForm.append($$('<input type="hidden" name="type" value="rights"/>'));
			tempForm.append($$('<input type="text" name="userid" value="' + $$(this).data('userid') + '"/>'));
			tempForm.append($$('<input type="text" name="access" value="read"/>'));
			tempForm.submit();
		});
		
		$$(".userWrite").click(function() {
			var tempForm = $$('<form method="POST"/>');
			tempForm.append($$('<input type="hidden" name="type" value="rights"/>'));
			tempForm.append($$('<input type="text" name="userid" value="' + $$(this).data('userid') + '"/>'));
			tempForm.append($$('<input type="text" name="access" value="write"/>'));
			tempForm.submit();
		});
		
		$$(".userAdmin").click(function() {
			var tempForm = $$('<form method="POST"/>');
			tempForm.append($$('<input type="hidden" name="type" value="rights"/>'));
			tempForm.append($$('<input type="text" name="userid" value="' + $$(this).data('userid') + '"/>'));
			tempForm.append($$('<input type="text" name="access" value="admin"/>'));
			tempForm.submit();
		});
	});
	</script>

<div class="container-fluid">
	<div class="row">
		<div class="span12">
			<h2>$repoInfo.name</h2>
		</div>
	</div>
	<div class="row-fluid">
	<div class="span9">
		<h4>Update repository information</h4>
		<form method="POST" class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="inputDesc">Description</label>
				<div class="controls">
					<textarea name="desc" id="inputDesc" class="input-xlarge" rows="4">$repoInfo.description</textarea>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="inputName">Access</label>
				<div class="controls">
					<label class="radio">Public:
					$if repoInfo.access == 'public':
						<input type="radio" name="access" value="public" checked> Anyone can see this repository. You choose who can commit.
					$else:
						<input type="radio" name="access" value="public"> Anyone can see this repository. You choose who can commit.
					</label>
					<label class="radio">Private:
					$if repoInfo.access == 'private':
						<input type="radio" name="access" value="private" checked> You choose who can see and commit to this repository.
					$else:
						<input type="radio" name="access" value="private"> You choose who can see and commit to this repository.
					</label>
				</div>
			</div>
			<input type="hidden" name="type" value="info" />
			<button class="btn btn-large btn-primary offset5" id="formSubmit" type="submit">Update Repository</button>
		</form>
		
		<h4>Manage collaborators</h4>
		<table class="table table-hover table-striped">
		<thead>
			<tr>
				<th>Userid</th>
				<th>Access rights</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		$for c in collaborators:
			<tr>
				<td><a href="/$c.userid">$c.userid</a></td>
				<td>$c.access</td>
				<td>
					<button class="btn btn-mini userRemove" data-userid="$c.userid" title="remove"><i class="icon-remove"></i></button>
				$if c.access != "read":
					<button class="btn btn-mini userRead" data-userid="$c.userid" title="set read rights"><i class="icon-eye-open"></i></button>
				$else:
					<button class="btn btn-mini" title="set read rights" disabled><i class="icon-eye-open"></i></button>
				$if c.access != "write":
					<button class="btn btn-mini userWrite" data-userid="$c.userid" title="set write rights"><i class="icon-pencil"></i></button>
				$else:
					<button class="btn btn-mini" title="set write rights" disabled><i class="icon-pencil"></i></button>
				$if c.access != "admin":
					<button class="btn btn-mini userAdmin" data-userid="$c.userid" title="set admin rights"><i class="icon-briefcase"></i></button>
				$else:
					<button class="btn btn-mini" title="set admin rights" disabled><i class="icon-briefcase"></i></button>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<form method="POST" class="form-horizontal">
			<input type="hidden" name="type" value="user" />
			<tr>
				<td>
					<select name="userid">
					$for u in users:
						<option value="$u.id">$u.name ($u.id)</option>
					</select>
				</td>
				<td>
					<select name="access"><option>read</option><option>write</option><option>admin</option></select>
				</td>
				<td><button class="btn btn-primary" type="submit">Add collaborator</button></td>
			</tr>
			</form>
		</tfoot>
		</table>
	</div>
	<div class="span3">
		<ul class="nav nav-tabs nav-stacked">
			<li><a href="/$owner/$repoid">Code</a></li>
			<li class="active"><a href="/$owner/$repoid/settings">Settings</a></li>
		</ul>
		
		HTTPS repository URL:
		<div class="input-prepend input-append">
			<input class="span10" id="prependedInput" type="text" value="https://$(ctx.host)/$(owner)/$(repoid).git">
			<button class="btn" type="button"><i class="icon-share-alt"></i></button>
		</div>
	</div>
	</div>
</div>


