## -*- coding: utf-8 -*-
<%!
	import time
	import datetime
	import web
%>
<%page args="owner, repoid, repoInfo, path, filelist"/>
<%inherit file="showRepoBase.html"/>
<%namespace name="common" file="common.html"/>

<%block name="filesActive">class="active"</%block>

<table class="table table-bordered table-hover table-condensed">
	<thead>
		<tr>
			<th>Filename</th>
			<th>Commit Message</th>
			<th>Last Change</th>
		</tr>
	</thead>
	<tbody>
	% if path != "":
		<tr>
			<td colspan="3"><a href="/${owner}/${repoid}/tree/master/${common.parent_path(path)}">..</a></td>
		</tr>
	% endif
	% for f in filelist:
		<tr>
			% if f[0].type == "blob":
				<td><i class="fa fa-file"></i> &nbsp; <a href="/${owner}/${repoid}/blob/master/${f[0].path}">${f[0].name}</a></td>
			% elif f[0].type == "tree":
				<td><i class="fa fa-folder"></i> &nbsp; <a href="/${owner}/${repoid}/tree/master/${f[0].path}">${f[0].name}</a></td>
			% else:
				<td><i class="fa fa-question-sign"></i> &nbsp; <a href="/${owner}/${repoid}/${f[0].type}/master/${f[0].path}">${f[0].name}</a></td>
			% endif
		% if f[1] == None:
			<td></td>
			<td></td>
		% else:
			<td>${f[1].message}</td>
			<td>${common.how_long_ago(datetime.datetime.fromtimestamp(f[1].authored_date))}</td>
			##<td>${time.strftime("%b %d, %Y, %H:%M", time.gmtime(f[1].authored_date))}</td>
		% endif
		</tr>
	% endfor
	</tbody>
</table>