## -*- coding: utf-8 -*-
<%!
	import web
%>
<%page args="owner, repoid, repoInfo, file, style, content"/>
<%inherit file="showRepoBase.html"/>
<%namespace name="common" file="common.html"/>

<%block name="head">
<style type="text/css">
	${style}
</style>
</%block>

<div class="showfile">
	<div class="navbar">
		<div class="navbar-inner">
			<p class="navbar-text pull-left">
				<i class="fa fa-file-text-o"></i>
				<span class="showfileheader">${file['name']}</span>
				<span class="showfileheader">${file['lines']} lines</span>
				<span class="showfileheader">${file['size']} bytes</span>
			</p>
			<div class="navbar-text input-append input-prepend pull-right">
				<button class="btn btn-small" type="button">edit</button>
				<button class="btn btn-small" type="button">raw</button>
				<button class="btn btn-small" type="button">blame</button>
				<button class="btn btn-small" type="button">history</button>
				<button class="btn btn-small btn-danger" type="button">remove</button>
			</div>
		</div>
	</div>
	<div class="filecontent">
		${content}
	</div>
</div>
