<%!
	import web
%>
<%page args="user, repos, groups"/>
<%inherit file="ownerBase.html"/>
<%namespace name="common" file="common.html"/>

<%block name="icon">fa-user</%block>
<%block name="owner">${user.name}</%block>
<%block name="tagline">Member since ${user.joined.strftime("%b %d, %Y")}</%block>

<h2>Repositories</h2>
<div class="container-fluid">
	% for r in repos:
		<%common:icon_info_block>
			<%def name="blockicon()">fa-book</%def>
			<%def name="blockhead()"><a href="/${r.owner}/${r.repoid}">${r.owner} / ${r.name}</a></%def>
			<%def name="blockbody()">Last updated ${common.how_long_ago(r.lastUpdate)}</%def>
		</%common:icon_info_block>
	% endfor
	% if repos == []:
		<div class="row-fluid"><p>No repositories</p></div>
	% endif
</div>

<h2>Groups</h2>
<div class="container-fluid">
	% for g in groups:
		<%common:icon_info_block>
			<%def name="blockicon()">fa-group</%def>
			<%def name="blockhead()"><a href="/${g.id}">${g.name}</a></%def>
			<%def name="blockbody()">${common.plural_format(g.members, "member")}</%def>
		</%common:icon_info_block>
	% endfor
	% if groups == []:
		<div class="row-fluid"><p>No groups</p></div>
	% endif
</div>
