## -*- coding: utf-8 -*-
<%!
	import web
%>
<%page args="form"/>
<%inherit file="main.html"/>

<%block name="head">
	<script src="/static/removeDiacritics.js"></script>
	<script>

	$(document).ready(function(){
		function checkId() {
			$.get('/checkId?id=' + $("#inputId").val(), function(data) {
				if(data == "true") {
					$(".control-group:has(#inputId)").removeClass("error");
					$('#inputIdError').hide();
					return true;
				} else {
					$(".control-group:has(#inputId)").addClass("error");
					$('#inputIdError').show();
					return false;
				}
			});
		}
		
		$('#inputIdError').hide();

		$("#inputName").keyup(function(event) {
			$("#inputId").val(makeIdString($("#inputName").val()));	
			checkId();
		});
		
		$("#inputName").blur(function(event) {
			$("#inputId").val(makeIdString($("#inputName").val()));	
			checkId();
		});
		
		$("#inputId").change(function() {
			checkId();
		});
		
		$("#formSubmit").click(function(){
			var inputStates = [];
			$("#content").each(function(){
				inputStates.push($(this).val());
			});		
			if(jQuery.inArray("", inputStates) != -1) {
				$("#content").effect("shake", 500);
				return false; // some field is empty
			}

			$.get('/checkId?id=' + $("#inputId").val(), function(data) {
				if(data == "true") {
					$("#pickIdForm").submit()
				} else {
					$("this").effect("shake", 500);
					return false;
				}
			});
			return false;
		});
	});
	</script>
</%block>

<div class="jumbotron">
	<h1>${web.config.pagename}</h1>
	<p>Welcome to our source code repository management system. Please log to use the site. If you haven't used the site before, just register below. However, if you have an LDAP account with us, you can just use that one for logging in. No need to register!</p>
	
	<form action="/register" method="POST" class="form-horizontal" role="form">		
		<h3>Registration for local account</h3>
		<p><span class="text-error">Don't</span> register if you have an LDAP account with us already.</p>
		
		<div class="form-group form-group-lg">
			<label class="col-md-2 control-label" for="inputEmail">Email</label>
			<div class="col-md-6">
				<input class="form-control" type="text" id="inputEmail" name="email" placeholder="Email" required>
			</div>
		</div>

		<div class="form-group form-group-lg">
			<label class="col-md-2 control-label" for="inputName">Name</label>
			<div class="col-md-6">
				<input class="form-control" type="text" id="inputName" name="name" placeholder="Name" required>
			</div>
		</div>
		
		<div class="form-group form-group-lg">
			<label class="col-md-2 control-label" for="inputId">Identifier</label>
			<div class="col-md-6">
				<input class="form-control" type="text" id="inputId" name="id" placeholder="Identifier" readonly>
			</div>
		</div>
		
		<div id="inputIdError" class="alert alert-danger">
			Unfortunately, this identifier is already in use
		</div>
		
		<div class="form-group form-group-lg">
			<label class="col-md-2 control-label" for="inputPass">Password</label>
			<div class="col-md-6">
				<input class="form-control" type="password" id="inputPass" name="password" placeholder="Password" required>
			</div>
		</div>
		
		<div class="form-group form-group-lg">
			<label class="col-md-2 control-label" for="inputPass2">Repeat password</label>
			<div class="col-md-6">
				<input class="form-control" type="password" id="inputPass2" name="password2" placeholder="Repeat password" required>
			</div>
		</div>
				
		% if form.note:
			<div class="alert alert-info">
				${form.note}
			</div>
		% endif
		
		<button class="btn btn-lg btn-primary pull-right" id="formSubmit" type="submit">Register</button>
		<div class="clearfix"></div>
	</form>
</div>
